<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/login}" method="post">
	<div><label> Vartotojas: <input type="text" name="username" class='form-control'/> </label></div>
	<div><label> Slaptazodis: <input type="password" name="password" class='form-control'/> </label></div>
	<div><input type="submit" value="Prisijungti" class='btn btn-primary'/></div>
</form>
</body>
</html>